src/moller/javapeg/resources/schema/config-001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://moller.javapeg.config.com" xmlns:config="http://moller.javapeg.config.com" elementFormDefault="qualified">
    
    <xs:element name="config" type="config:Config"/>
          
    <xs:complexType name="Config">
        <xs:all>
            <xs:element name="logging"            type="config:Logging" />
            <xs:element name="javapegClientId"    type="xs:string" />
            <xs:element name="gui"                type="config:Gui" />
            <xs:element name="updatesChecker"     type="config:UpdatesChecker" />
            <xs:element name="language"           type="config:Language" />
            <xs:element name="renameImages"       type="config:RenameImages" />
            <xs:element name="tagImages"          type="config:TagImages" />
            <xs:element name="thumbNail"          type="config:ThumbNail" />
            <xs:element name="toolTips"           type="config:ToolTips" />
            <xs:element name="categories"         type="config:Categories" />
            <xs:element name="importedcategories" type="config:Importedcategories" />
            <xs:element name="repository"         type="config:Repository" />
        </xs:all>   
    </xs:complexType>  
    
    <xs:complexType name="Logging">
        <xs:all>
            <xs:element name="developerMode" type="xs:boolean" />
            <xs:element name="fileName" type="xs:string" />
            <xs:element name="level">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DEBUG"/>
                        <xs:enumeration value="INFO"/>
                        <xs:enumeration value="WARN"/>
                        <xs:enumeration value="ERROR"/>
                        <xs:enumeration value="FATAL"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="rotate" type="xs:boolean" />
            <xs:element name="rotateSize" type="xs:long" />
            <xs:element name="rotateZip" type="xs:boolean" />
            <xs:element name="timestampFormat" type="xs:string" />
        </xs:all>
    </xs:complexType>  
       
    <xs:complexType name="Gui">
        <xs:all>
            <xs:element name="main" type="config:GuiWindow" />
            <xs:element name="imageViewer" type="config:GuiWindow" />
            <xs:element name="imageSearchResultViewer" type="config:GuiWindow" />
            <xs:element name="configViewer" type="config:GuiWindow" />
            <xs:element name="helpViewer" type="config:GuiWindow" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="GuiWindow">
        <xs:sequence>
            <xs:element name="xLocation" type="xs:int" />
            <xs:element name="yLocation" type="xs:int" />
            <xs:element name="width" type="xs:int" />
            <xs:element name="height" type="xs:int" />
            <xs:element name="splitPane" type="config:SplitPane" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SplitPane" >
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" use="required" >
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="main" />
                            <xs:enumeration value="vertical" />
                            <xs:enumeration value="thumbNailMetaDataPanel" />
                            <xs:enumeration value="previewAndComment" />
                            <xs:enumeration value="previewCommentCategoriesRating" />
                            <xs:enumeration value="imageMetaData" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="width" type="xs:int" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
        
    <xs:complexType name="UpdatesChecker">
        <xs:all>
            <xs:element name="enabled" type="xs:boolean" />
            <xs:element name="attachVersionInformation" type="xs:boolean" />
            <xs:element name="timeout" type="xs:int" />
            <xs:element name="urlVersion" type="xs:anyURI" />
            <xs:element name="urlVersionInformation" type="xs:anyURI" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="Language">
        <xs:all>
            <xs:element name="automaticSelection" type="xs:boolean" />
            <xs:element name="gUILanguageISO6391" type="xs:string" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="RenameImages">
        <xs:all>
            <xs:element name="pathSource" type="xs:anyURI" />
            <xs:element name="pathDestination" type="xs:anyURI" />
            <xs:element name="templateSubDirectoryName" type="xs:string" />
            <xs:element name="templateFileName" type="xs:string" />
            <xs:element name="createThumbNails" type="xs:boolean" />
            <xs:element name="useLastModifiedDate" type="xs:boolean" />
            <xs:element name="useLastModifiedTime" type="xs:boolean" />
            <xs:element name="cameraModelNameMaximumLength" type="xs:int" />
            <xs:element name="progressLogTimestampFormat" type="xs:string" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="TagImages">
        <xs:all>
            <xs:element name="categories" type="config:TagImagesCategories" />
            <xs:element name="paths" type="config:TagImagesPaths" />
            <xs:element name="preview" type="config:TagImagesPreview" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="TagImagesCategories">
        <xs:all>
            <xs:element name="warnWhenRemove" type="xs:boolean" />
            <xs:element name="warnWhenRemoveWithSubCategories" type="xs:boolean" />
            <xs:element name="orRadioButtonIsSelected" type="xs:boolean" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="TagImagesPaths">
        <xs:all>
            <xs:element name="automaticallyRemoveNonExistingImagePath" type="xs:boolean" />
            <xs:element name="addToRepositoryPolicy" type="xs:int" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="TagImagesPreview">
        <xs:all>
            <xs:element name="useEmbeddedThumbnail" type="xs:boolean" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="ThumbNail">
        <xs:all>
            <xs:element name="cache" type="config:Cache" />
            <xs:element name="creation" type="config:Creation" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="Cache">
        <xs:all>
            <xs:element name="enabled" type="xs:boolean" />
            <xs:element name="maxSize" type="xs:int" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="Creation">
        <xs:all>
            <xs:element name="ifMissingOrCorrupt" type="xs:boolean" />
            <xs:element name="algorithm">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="SMOOTH" />
                        <xs:enumeration value="FAST" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="width" type="xs:int" />
            <xs:element name="height" type="xs:int" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="ToolTips">
        <xs:all>
            <xs:element name="state" type="xs:int" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="Categories">
        <xs:sequence>
            <xs:element name="category" type="config:Category" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="highest-used-id" type="xs:int" use="required" />
    </xs:complexType>
    
    <xs:complexType name="Category">
        <xs:sequence>
            <xs:element name="category" type="config:Category" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required" />
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
    
    <xs:complexType name="Importedcategories">
        <xs:sequence>
            <xs:element name="instance" type="config:Instance" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Instance">
        <xs:sequence>
            <xs:element name="category" type="config:Category" minOccurs="0" maxOccurs="unbounded" />    
        </xs:sequence>
        <xs:attribute name="displayname" type="xs:string" use="required" />
        <xs:attribute name="javapegclientid" type="xs:string" use="required" />
        <xs:attribute name="highest-used-id" type="xs:string" use="required" />
    </xs:complexType>
        
    <xs:complexType name="Repository">
        <xs:all>
            <xs:element name="paths" type="config:Paths" />
            <xs:element name="exceptions" type="config:Exceptions" />
        </xs:all>
    </xs:complexType>    
        
    <xs:complexType name="Paths">
        <xs:sequence>
            <xs:element name="path" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/> 
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Exceptions">
        <xs:all>
            <xs:element name="allwaysAdd" type="config:AllwaysAdd" minOccurs="1" maxOccurs="1"/>
            <xs:element name="neverAdd" type="config:NeverAdd" minOccurs="1" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="AllwaysAdd">
        <xs:sequence>
            <xs:element name="path" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/> 
        </xs:sequence>
    </xs:complexType>
    
     <xs:complexType name="NeverAdd">
        <xs:sequence>
            <xs:element name="path" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/> 
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>